@model SOPORTE.Models.it

@{
    ViewBag.Title = "";
}

<h2>Borrado</h2>
<div>
    @Html.ActionLink("Volver", "Index", new { area = "" }, new { @class = "btn btn-primary" })

</div>
<h3>Esta seguro que quiere eliminar este registro?</h3>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Borrar" class="btn btn-default" /> 
       
    </div>
    }
</div>
