@model SOPORTE.Models.it

@{
    ViewBag.Title = "";
}

<h2>Detalles</h2>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.it_id }, new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Volver", "Index", new { area = "" }, new { @class = "btn btn-primary" })
</div>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol)
        </dd>

    </dl>
</div>

