@model SOPORTE.Models.usuario

@{
    ViewBag.Title = "";
}

<link href="~/Content/barranavegacion.css" rel="stylesheet" />
<script src="~/Content/jquery-1.3.2.js"></script>




<fieldset>
    <legend> </legend>

    @if (Session["User"] != null)
    {

        <h3>BienVenido al Sistema @Session["User"].ToString() @Session["Ape"]</h3> <br />
        <h3>Administrador</h3>

        @Html.ActionLink("Medidas", "Index", "Medidas", new { area = "" }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Falla", "Index", "fallas", new { area = "" }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Soporte", "Busqueda", "soportes", new { area = "" }, new { @class = "btn btn-primary" })
        @Html.ActionLink("IT", "Index", "it", new { area = "" }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Estadisticas", "Index", "Estadisticas", new { area = "" }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Usuarios", "Index", "usuarios", new { area = "" }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Cerrar Sesion", "cerrarsesion", "Home", new { area = "" }, new { @class = "btn btn-primary" })
    }
</fieldset>
